.input {
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-width: 250px;
  min-height: 58px;
  width: 100%;

  label {
    font-size: 0.875rem;
    font-weight: $font-weight-semibold;
  }

  p-slider, .p-dropdown, input {
    width: 100%;
  }

  p-slider, p-checkbox {
    margin-block: auto;
  }
}
