<div class="filters">
  <div class="input">
    <label for="name-filter">Filter by name</label>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        id="name-filter"
        type="text"
        pInputText
        [formControl]="nameFilter"
      />
    </span>
  </div>
  <div class="input">
    <label id="alcohol-filter">Alcohol content (%)</label>
    <p-slider
      ariaLabelledBy="alcohol-filter"
      [formControl]="alcoholFilter"
      [range]="true"
    ></p-slider>
  </div>
  <div class="input">
    <label for="favourites-filter">Show only favourites</label>
    <p-checkbox
      inputId="favourites-filter"
      [formControl]="favouritesFilter"
      [binary]="true"
    ></p-checkbox>
  </div>
  <div class="input">
    <label id="sort-select">Sort</label>
    <p-dropdown
      ariaLabelledBy="name"
      [formControl]="sortControl"
      [options]="sortOptions()"
    ></p-dropdown>
  </div>
</div>
