@import "../../../styles/abstracts/variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beer-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  max-width: $breakpoint-lg;
}
