@import "../../../styles/abstracts/variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beer-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, $card-width));
  justify-content: center;
  gap: 40px;
  width: 100%;
  max-width: $breakpoint-lg;
  padding-inline: 2rem;
}
