// Fonts
$font-family: "Montserrat";
$font-family-alt: sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$alice-blue: #e2e7ed;
$gray-light: #9ca7a7;

// Font Weights
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Breakpoints
$breakpoint-2xs: 480px;
$breakpoint-xs: 640px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;

// Box shadows
$box-shadow-sm: 0 3px 3px -2px #0003, 0 3px 4px #00000024, 0 1px 8px #0000001f;
$box-shadow-bottom: 0 12px 10px -10px rgba(0, 0, 0, 0.6);

// Misc
$card-width: 250px;
