<p-dialog
  [header]="beer().name"
  [(visible)]="visible"
  [style]="{ width: '50vw', height: '50vh' }"
>
  <div class="dialog-content">
    <img class="beer-image" [src]="beer().image_url" alt="beer logo" />
    <div class="beer-details">
      <span>
        <span class="detail-title">Description: </span>
        {{ beer().description }}
      </span>
      <span
        ><span class="detail-title">Alcohol by volume (ABV): </span
        >{{ beer().abv }}</span
      >
    </div>
  </div>
</p-dialog>
