<app-header></app-header>
<main>
  <app-beer-filters [(favourites)]="favourites"></app-beer-filters>
  <div #scrollable class="scrollable">
    <app-beer-list [beers]="filteredBeers()" (favouriteChange)="favouriteChange($event);"></app-beer-list>
    @if(isScrolled()) {
    <button
      icon="pi"
      pButton
      pRipple
      class="scroll-top-button p-button-secondary p-button-outlined"
      (click)="scrollToTop()"
      pTooltip="Scroll to top"
      tooltipPosition="left"
    >
      <img alt="scroll-top icon" src="../assets/svgs/scroll-top.svg" />
    </button>
    }
  </div>
</main>
<app-footer></app-footer>
