:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  position: relative;
  flex: 1;
  overflow: auto;
  width: 100%;
  padding: 1.25rem 0.25rem;
}

.scroll-top-button {
  position: sticky;
  left: 95%;
  bottom: 10px;
  background-color: var(--white);
  border-color: var(--gray-light);
  box-shadow: var(--box-shadow-sm);
}
