<div class="card">
  <button
    icon="pi"
    pButton
    pRipple
    class="favourites-button p-button-rounded p-button-text"
    (click)="toggleFavourite()"
  >
    @if(beer().favourite) {
    <img
      alt="star-selected-24px icon"
      src="../../../assets/svgs/star-selected-24px.svg"
    />
    } @else {
    <img
      alt="star-outline-24px icon"
      src="../../../assets/svgs/star-outline-24px.svg"
    />
    }
  </button>
  <img class="beer-image" [src]="beer().image_url" alt="beer logo" />
  <p-button
    severity="secondary"
    [outlined]="true"
    (onClick)="dialogVisibleChange(!isDialogVisible())"
  >
    <div class="button-content">
      <img alt="button icon" src="../../../assets/svgs/info-24px.svg" />
      <span>{{ "details" | uppercase }}</span>
    </div>
  </p-button>
</div>
<app-beer-dialog
  [beer]="beer()"
  [(visible)]="isDialogVisible"
></app-beer-dialog>
