$alice-blue: var(--alice-blue);

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 250px;
  height: 100%;
  max-height: 300px;
  background-color: $alice-blue;
  padding: 1rem 2rem;
  border-radius: 3px;
}

.beer-name {
  display: flex;
  align-items: center;
  height: 20%;
  margin: 0;
  text-align: center;
  font-weight: 600;
}

.beer-image {
  object-fit: contain;
  height: 60%;
  min-height: 0;
}

.favourites-button {
  position: absolute;
  top: 10px;
  right: 5px;

  img {
    pointer-events: none;
  }
}

.details-button {
  height: 20%;
}
