<div class="card">
  <button icon="pi" pButton pRipple class="favourites-button p-button-rounded p-button-text"
    (click)="toggleFavourite()">
    @if(beer().favourite) {
    <img alt="star-selected-24px icon" src="../../../assets/svgs/star-selected-24px.svg" />
    } @else {
    <img alt="star-outline-24px icon" src="../../../assets/svgs/star-outline-24px.svg" />
    }
  </button>
  <h3 class="beer-name">{{ beer().name }}</h3>
  <img class="beer-image" [src]="imagesAvailable() ? beer().image_url : '../../../assets/images/logo-short.png'"
    alt="beer logo" />
  <p-button class="details-button" severity="secondary" [outlined]="true" (onClick)="showDetails()">
    <div class="button-content">
      <img alt="button icon" src="../../../assets/svgs/info-24px.svg" />
      <span>{{ "details" | uppercase }}</span>
    </div>
  </p-button>
</div>
