<div class="card">
  <button
    icon="pi"
    pButton
    pRipple
    class="favourites-button p-button-rounded p-button-text"
  >
    <img
      alt="star_outline-24px icon"
      src="../../../assets/svgs/star_outline-24px.svg"
    />
  </button>
  <img class="beer-image" src="../../../assets/images/logo-short.png" alt="beer logo" />
  <p-button severity="secondary" [outlined]="true">
    <div class="button-content">
      <img alt="button icon" src="../../../assets/svgs/info-24px.svg" />
      <span>{{ "details" | uppercase }}</span>
    </div>
  </p-button>
</div>
